html, body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #ECF0F3;
}
nav.navbar {
  margin-bottom: 1rem;
}
.navbar-item, .navbar-link {
  font-weight: 700;
}
.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list p {
  color: #8F99A3;
  font-size: 14px;
  font-weight: 600;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
  padding: 0.5em 0em;
}
.menu-list a:hover {
  background-color: transparent;
  color: #ff7175;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}
.card-footer-item:hover {
}
.not-available {
  color: #990000;
}
.is-hide {
  display: none;
}
